<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Changement de mot de passe</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <form action="#" method="POST" id="update-password">
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="alert-password"></div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="email" value="{{ user.email }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nom</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ user.lastname }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Prénom</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ user.firstname }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Mot de passe</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control password" name="password_first" placeholder="Mot de passe" data-validation="strength" data-validation-strength="3">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Confirmation</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password_second" placeholder="Mot de passe" data-validation="confirmation" data-validation-confirm="password_first">
                    </div>
                </div>
                <input type="hidden" name="token" value="{{ csrf_token('update-password') }}"/>
                <input type="hidden" name="id" value="{{ user.id }}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary waves-effect waves-light edit-password">Valider</button>
            </div>
        </form>
    </div>
</div>
{% block javascripts %}
    <script type="text/javascript">
        var optionalConfig = {
            fontSize: '8pt',
            padding: '4px',
            bad : 'Trop faible',
            weak : 'Faible',
            good : 'Bon',
            strong : 'Très bon'
        };

        $.validate({
            lang: 'fr',
            borderColorOnError : '#ff001c',
            scrollToTopOnError: false,
            modules : 'security',
            onModulesLoaded : function() {
                $('input[name="password_first"]').displayPasswordStrength(optionalConfig);
            }
        });
        $('input[name="password_first"]').displayPasswordStrength(optionalConfig);
    </script>
{% endblock %}