{% extends 'elements/layout/app/base.html.twig' %}

{% block title %}Photo'Vergnat - Profil{% endblock %}
{% block description %}Modifiez les paramètres de votre profil utilisateur sur le site{% endblock %}
{% block descriptionOpenGraph %}Modifiez les paramètres de votre profil utilisateur sur le site{% endblock %}
{% block imageOpenGraph %}{{ app.request.getSchemeAndHttpHost() ~ asset('/theme/img/bg-img/1.jpg') }}{% endblock %}

{% block body %}
    <!-- Breadcrumb Area Start -->
    {{ include('elements/shared/app/breadcrumb.html.twig', { 'title': 'Mon profil', 'page':'Compte' }) }}

    <section class="section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Paramètre</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-8 profile">
                    <div class="profile-content">
                        <h3 class="wow fadeInUp" data-wow-delay="100ms">Mes informations</h3>
                        <div class="line wow fadeInUp" data-wow-delay="200ms"></div>
                        <div class="alert alert-danger" role="alert" id="alert-edit"></div>
                        <div class="alert alert-success" role="alert" id="success-edit"></div>
                        <form action="#" method="POST" class="form-horizontal connexion" id="update-user">
                            <div class="form-group mb-40">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9 mail">
                                    <input data-validation="email" class="form-control" name="email" id="email" value="{{ user.email }}">
                                </div>
                            </div>
                            <div class="form-group mb-40">
                                <label class="col-sm-3 control-label">Nom</label>
                                <div class="col-sm-9 mail">
                                    <input type="text" data-validation="length" data-validation-length="min3" class="form-control" name="lastname" id="lastname" value="{{ user.lastname }}">
                                </div>
                            </div>
                            <div class="form-group mb-40">
                                <label class="col-sm-3 control-label">Prénom</label>
                                <div class="col-sm-9 mail">
                                    <input type="text" data-validation="length" data-validation-length="min3" class="form-control" name="firstname" id="firstname" value="{{ user.firstname }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 submit">
                                    <input type="hidden" name="token" value="{{ csrf_token('update-user') }}"/>
                                    <input type="hidden" name="id" value="{{ user.id }}"/>
                                    <button type="submit" class="btn alime-btn btn-2 mt-15 edit-user">Mettre à jours</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="profile-content">
                        <h3 class="wow fadeInUp" data-wow-delay="100ms">Sécurité</h3>
                        <div class="line wow fadeInUp" data-wow-delay="200ms"></div>
                        <div class="alert alert-danger" role="alert" id="alert-password"></div>
                        <div class="alert alert-success" role="alert" id="success-password"></div>
                        <form action="#" method="POST" class="form-horizontal connexion" id="update-password">
                            <div class="form-group mb-40">
                                <label class="col-sm-3 control-label">Mot de passe</label>
                                <div class="col-sm-9 mail">
                                    <input type="password" class="form-control pswd" name="password_first" placeholder="Mot de passe" data-validation="strength" data-validation-strength="3">
                                </div>
                            </div>
                            <div class="form-group mb-40 password_repeat">
                                <label class="col-sm-3 control-label">Confirmer mot de passe</label>
                                <div class="col-sm-9 mail">
                                    <input type="password" class="form-control" name="password_second" placeholder="Mot de passe" data-validation="confirmation" data-validation-confirm="password_first">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 submit">
                                    <input type="hidden" name="token" value="{{ csrf_token('update-password') }}"/>
                                    <input type="hidden" name="id" value="{{ user.id }}"/>
                                    <button type="submit" class="btn alime-btn btn-2 mt-15 edit-password">Valider</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $.validate({
            lang: 'fr',
            borderColorOnError : '#ff001c',
            scrollToTopOnError: false,
            modules : 'security',
            onModulesLoaded : function() {
                var optionalConfig = {
                    fontSize: '8pt',
                    padding: '4px',
                    bad : 'Trop faible',
                    weak : 'Faible',
                    good : 'Bon',
                    strong : 'Très bon'
                };

                $('input[name="password_first"]').displayPasswordStrength(optionalConfig);
            }
        });
    </script>
{% endblock %}
