<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Général</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="{{ path('admin_home') }}" target="">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Accueil</span>
                </a>
            </li>
            <li class="">
                <a href="" target="">
                    <span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span>
                    <span class="pcoded-mtext">Statistiques</span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Gestion des utilisateurs</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="{{ path('admin_users') }}">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Utilisateurs</span>
                </a>
            </li>
            <li class="">
                <a href="">
                    <span class="pcoded-micon"><i class="feather icon-message-square"></i></span>
                    <span class="pcoded-mtext">Commentaires</span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Gestion du contenu</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="{{ path('admin_tags') }}">
                    <span class="pcoded-micon"><i class="feather icon-tag"></i></span>
                    <span class="pcoded-mtext">Tags</span>
                </a>
            </li>
            <li class="">
                <a href="{{ path('admin_seasons') }}">
                    <span class="pcoded-micon"><i class="feather icon-cloud-snow"></i></span>
                    <span class="pcoded-mtext">Saison</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-book"></i></span>
                    <span class="pcoded-mtext">Articles</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="">
                            <span class="pcoded-mtext">Catégories</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="">
                            <span class="pcoded-mtext">Photo</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('admin_types') }}">
                            <span class="pcoded-mtext">Format</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>