{% extends 'elements/layout/app/base.html.twig' %}

{% block title %}Photo'Vergnat - Photo en Auvergne Rhône-Alpes{% endblock %}
{% block description %}Partez à la découverte de la région Auvergne Rhône-Alpes au travers de ma collection de photo !{% endblock %}
{% block descriptionOpenGraph %}Partez à la découverte de la région Auvergne Rhône-Alpes au travers de ma collection de photo !{% endblock %}
{% block imageOpenGraph %}{{ app.request.getSchemeAndHttpHost() ~ asset('/theme/img/bg-img/1.jpg') }}{% endblock %}

{% block body %}
    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <div class="single-welcome-slide bg-img bg-overlay welcome-photo-first">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInDown" data-delay="900ms">Photo'Vergnat</h2>
                                <p data-animation="bounceInDown" data-delay="500ms">Partez à la découverte de la région Auvergne Rhône-Alpes au travers de ma collection de photo !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-welcome-slide bg-img bg-overlay welcome-photo-second">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInDown" data-delay="900ms">Photo'Vergnat</h2>
                                <p data-animation="bounceInDown" data-delay="500ms">Partez à la découverte de la région Auvergne Rhône-Alpes au travers de ma collection de photo !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding-80 homepage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Catégorie récente</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Related News Area Start -->
        {{ include('elements/shared/app/recent_categories.html.twig', { 'categories': categories }) }}
    </section>

    <div class="alime-portfolio-area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Dernière photo</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Projects Menu -->
                    <div class="alime-projects-menu">
                        <div class="portfolio-menu text-center">
                            <button class="btn active" data-filter="*">Toutes</button>
                            {% for className in photos | getAllClassName() %}
                                <button class="btn" data-filter=".{{ className }}">{{ className }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row alime-portfolio">
                {% for photo in photos | shuffle() %}
                    <div class="col-12 col-sm-6 col-lg-3 single_gallery_item {{ photo | getClassName() | join(' ') }} mb-30 wow fadeInUp" data-wow-delay="300ms">
                        <div class="single-portfolio-content">
                            <img alt="{{ photo.title }}" class="img-thumb" src="{{ ('/images/uploads/' ~ photo.file) | imagine_filter('thumbnail') }}">
                            <div class="hover-content">
                                <a data-title="{{ photo.information }}" href="{{ ('/images/uploads/' ~ photo.file) | imagine_filter('big') }}" class="portfolio-img">+</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $('.lazy').Lazy();
    </script>
{% endblock %}
