<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index, follow, all">
        <link rel="canonical" href="{{ app.request.uri }}">
        <title>{% block title %}{% endblock %}</title>

        <!-- Open Graph -->
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Photo'Vergnat - Découverte de la région Auvergne/Rhône-Alpes" />
        <meta property="og:description" content="{% block descriptionOpenGraph %}{% endblock %}" />
        <meta property="og:image" content="{% block imageOpenGraph %}{% endblock %}" />

        <!-- Favicon -->
        <link rel="icon" href="{{ asset('theme/img/core-img/favicon.png') }}">

        <!-- Style -->
        <link rel="stylesheet" href="{{ asset('theme/style.css') }}">
        <link rel="stylesheet" href="{{ asset('build/app/app.css') }}">

        <!-- Jquery -->
        <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
        <script type="text/javascript" src="{{ asset('theme/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('theme/js/jquery.ba-serializeobject.min.js') }}"></script>

        <!-- RGPD -->
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86136866-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-86136866-3');
        </script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include 'elements/shared/app/preloader.html.twig' %}
    {% include 'elements/shared/app/search.html.twig' %}
    {% include 'elements/shared/app/nav.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'elements/shared/app/footer.html.twig' %}

    <!-- Javascript -->
    <script type="text/javascript" src="{{ asset('build/app/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('adminity/assets/js/jquery.lazy.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/alime.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/default-assets/active.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/js/jquery.form-validator.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
