<div class="related-news-area">
    <div class="container">
        <div class="row title">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Catégorie récente</h2>
                </div>
            </div>
        </div>

        <div class="row">
            {% for category in categories %}
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig">
                        <a href="#" class="post-thumbnail">
                            <img alt="{{ category.title }}" class="lazy" data-src="{{ ('/images/uploads/' ~ (category | getMainPhotoUrl('Portrait') )) | imagine_filter('thumbnail_category') }}">
                        </a>
                        <div class="tags-category">
                            {% for tag in category.tags %}
                                <a href="#" class="btn post-catagory">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">{{ category.created | localizeddate('none', 'none', null, null, 'MMMM Y') | capitalize }}</a>
                                <a href="{{ path('app_category_photo', {'id': category.id, 'slug': category.title | slugify() }) }}">{{ category.photos | length }} photos</a>
                            </div>
                            <a href="{{ path('app_category', {'id': category.id, 'slug': category.title | slugify() }) }}" class="post-title">{{ category.title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="border-top mt-5"></div>
    </div>
</div>