{% extends 'elements/layout/app/base.html.twig' %}

{% block title %}Photo'Vergnat - {{ category.title }}{% endblock %}
{% block description %}{{ category.metaDescription }}{% endblock %}
{% block descriptionOpenGraph %}{{ category.metaDescription }}{% endblock %}
{% block imageOpenGraph %}{{ ('/images/uploads/' ~ (category | getMainPhotoUrl('Paysage'))) | imagine_filter('thumbnail') }}{% endblock %}

{% block body %}
    <!-- Breadcrumb Area Start -->
    {{ include('category/app/elements/breadcrumb.html.twig', { 'category': category }) }}

    <div class="alime--blog-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <!-- Blog Details Text -->
                    <div class="blog-details-text">
                        {{ category.description | raw }}

                        <div class="text-center">
                            <a href="{{ path('app_category_photo', {'id': category.id, 'slug': category.title | slugify() }) }}">
                                <button class="btn alime-btn btn-2 mb-15">Voir la gallerie</button>
                            </a>
                        </div>

                        <table class="post-table">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="fa fa-calendar"></span>{{ category.created | localizeddate('none', 'none', null, null, 'MMMM Y') | capitalize }}
                                </td>
                                <td>
                                    <span class="fa fa-user"></span>{{ category.user.shortName }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa fa-bookmark"></span>{{ category.city }}
                                </td>
                                <td colspan="2">
                                    <span class="fa fa-map-marker"></span>{{ category.latitude }} {{ category.longitude }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa fa-comments"></span>{{ category.comments | length }} avis
                                </td>
                                <td>
                                    <span class="fa fa-camera"></span>{{ category.photos | length }} photos
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Post Author Area -->
                    <div class="post-author-area mt-50 d-flex align-items-center justify-content-between">
                        <ul class="popular-tags">
                            {% for tag in category.tags %}
                                <li><a class="btn badges-btn" href="#">{{ tag.title | upper }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Related News Area Start -->
    {{ include('elements/shared/app/recent_categories.html.twig', { 'categories': categories }) }}

    <!-- Comment Area Start -->
    <div class="comment-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <!-- Comments Area -->
                    <div class="comment_area clearfix">
                        <h4 class="mb-30"><span id="number-comment">{{ category.comments | length }}</span> Commentaire(s)</h4>
                        <ol id="comment-section">
                            {% if category.comments is empty %}
                                <span class="no-message">Aucun commentaire :(</span>
                            {% endif %}
                            {% for comment in category.comments %}
                                <li class="single_comment_area">
                                    <div class="comment-content d-flex">
                                        <div class="comment-author">
                                            <img alt="Utilisateur" src="/theme/img/bg-img/Person.jpg">
                                        </div>
                                        <div class="comment-meta">
                                            <a href="#" class="post-date">{{ comment.created | localizeddate('none', 'none', null, null, 'MMMM Y') | capitalize }}</a>
                                            <h5>{{ comment.name }}</h5>
                                            <p>{{ comment.message }}</p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div class="alime-contact-form mt-50">
                        <h4 class="mb-30">Laisser un commentaire</h4>

                        <div class="alert alert-danger" role="alert" id="alert-create"></div>
                        <form method="POST" id="create-comment">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <input type="text" name="name" class="form-control mb-30" placeholder="Nom">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="email" name="email" class="form-control mb-30" placeholder="Mail">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control mb-30" placeholder="Messages"></textarea>
                                </div>
                                <div class="col-12">
                                    <input type="hidden" name="category" value="{{ category.id }}"/>
                                    <button type="submit" class="btn alime-btn btn-2 mt-15 create-comment">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $('.lazy').Lazy();
    </script>
{% endblock %}